.App {
  background-color: #222;
  height: 100vh;
}

.app-header {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-end; */
  background-color: black;
  color: rgb(151, 219, 49);
  padding: 0.4%;
  margin: auto;
}

.cards-area {
  background-color: #222;
}

.card-content {
  margin: auto;
}

.title-poster {
  height: 180px;
  width: 120px;
  margin: auto;
}